.slider {
  height: 389px;
  padding-top: 61px;
  overflow: hidden;

  background-color: #202020;

  @media(min-width: $desktop-width) {
    height: 803px;
    padding-top: 39px;
  }
}

.slider__wrapper {
  @media(min-width: $desktop-width) {
    position: relative;
    height: inherit;
    max-width: 920px;
    margin: 0 auto;
  }
}

.slider__image-title {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  font-family: $helvetica;
  color: #F5F5F5;
  text-align: center;

  @media(min-width: $desktop-width) {
    position: absolute;
    left: 50%;
    top: 680px;
    transform: translateX(-50%);
  }
}

.slider__viewport {
  max-width: 200px;
  margin: 0 auto;

  @media(min-width: $desktop-width) {
    max-width: 760px;
    margin: 0;

    overflow-x: hidden;
  }
}

.slider__list {
  position: relative;
  left: 0;

  display: flex;
  padding: 0;

  transition: all ease 1s;
  list-style: none;

  @media(min-width: $desktop-width) {
    transition: none;
    margin-top: 0;
  }
}

.slider__item {
  width: 200px;
  height: 156px;
  flex-shrink: 0; //чтобы flex не зжимал картинки под размер контейнера

  &:nth-child(1n):not(:last-child) {
    margin-right: 20px;
  }

  @media(min-width: $desktop-width) {
    position: relative;

    width: 120px;
    height: 90px;

    cursor: pointer;

    &:nth-child(1n):not(:last-child) {
      margin-right: 40px;
    }

    &::after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;

      width: inherit;
      height: 94px;

      background-color: rgba(0, 0, 0, 0.45);
    }

    &--active::after{
      position: absolute;
      content: "";
      top: 0;
      left: 0;

      width: inherit;
      height: 94px;

      background-color: rgba(0, 0, 0, 0);
    }
  }
}

.slider__main-image-container {
  display: none;
  @media(min-width: $desktop-width) {
    display: block;
    margin-top: 22px;
  }
}

.slider__main-image {  
  &--fade-in {
    animation: fadeIn ease 5s;
  }
}

.slider__controls {
  max-width: 320px;
  margin: 17px auto 0 auto;

  font-size: 14px;
  line-height: 13px;
  font-family: $helvetica;
  text-align: center;

  @media(min-width: $desktop-width) {
    position: relative;

    max-width: 920px;
    margin-top: 50px;
  }
}

.slider__current-number {
  color: #F5F5F5;
}

.slider__overall-number {
  color: #848484;
}

.slider__button-left,
.slider__button-right {
  display: none;
  
  cursor: pointer;
  @media(min-width: $desktop-width) {
    position: absolute;
    top: -18px;

    display: inline-block;
    border: none;
    width: 41px;
    height: 12px;

    background: transparent;
  }
}

.slider__button-left {
  @media(min-width: $desktop-width) {
    left: 0;

    &::after {
      position: absolute;
      content: "";
      top: 50%;
      left: 50%;

      width: inherit;
      height: inherit;

      transform: translate(-50%, -50%);

      background-image: url("../img/arrow-button-left-icon.svg");
    }
  }
}

.slider__button-right {
  @media(min-width: $desktop-width) {
    right: 0;

    &::after {
      position: absolute;
      content: "";
      top: 50%;
      left: 50%;

      width: inherit;
      height: inherit;

      transform: translate(-50%, -50%);

      background-image: url("../img/arrow-button-right-icon.svg");
    }
  }
}

.slider__link {
  position: relative;

  display: block;
  width: 98px;
  margin: 59px auto 0 auto;

  font-size: 14px;
  line-height: 20px;
  font-family: $helvetica;
  font-weight: 400;
  text-decoration: none;
  color: #BFBFBF;

  &::after {
    position: absolute;
    content: "";
    top: 7px;
    right: 3px;

    height: 8px;
    width: 7px;

    background-image: url("../img/arrow-link-icon.svg");
    background-repeat: no-repeat;  
  }

  @media(min-width: $desktop-width) {
    position: absolute;
    margin: 0;
    top: 35px;
    right: 2px;
  }
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }