.slider {
  height: 389px;
  padding-top: 61px;

  background-color: #202020;

  @media(min-width: $desktop-width) {
    height: 803px;
  }
}

.slider__wrapper {
  @media(min-width: $desktop-width) {
    height: inherit;
    max-width: 920px;
    margin: 0 auto;
  }
}

.slider__image-title {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  font-family: $helvetica;
  color: #F5F5F5;
  text-align: center;
}

.slider__list {
  padding: 0;
  list-style: none;

  max-width: 320px;
  margin: 19px auto 0 auto;
  display: flex;

  overflow: hidden;
}

.slider__item {
  flex-shrink: 0; //чтобы flex не зжимал картинки под размер контейнера

  &:nth-child(1n):not(:last-child) {
    margin-right: 20px;
  }

  &--end-cap {
    width: 200px;
    height: 156px;
  }
}

.slider__controls {
  max-width: 320px;
  margin: 17px auto 0 auto;

  font-size: 14px;
  line-height: 13px;
  font-family: $helvetica;
  text-align: center;
}

.slider__current-number {
  color: #F5F5F5;
}

.slider__overall-number {
  color: #848484;
}

.slider__link {
  position: relative;

  display: block;
  width: 98px;
  margin: 59px auto 0 auto;

  font-size: 14px;
  line-height: 20px;
  font-family: $helvetica;
  font-weight: 400;
  text-decoration: none;
  color: #BFBFBF;

  &::after {
    position: absolute;
    content: "";
    top: 7px;
    right: 3px;

    height: 8px;
    width: 7px;

    background-image: url("../img/arrow-link-icon.svg");
    background-repeat: no-repeat;  
  }
}
