.slider {
  height: 389px;

  background-color: #202020;
}

.slider__list {
  padding: 0;
  list-style: none;

  max-width: 320px;
  margin: 0 auto;
  display: flex;

  scroll-snap-type: x mandatory;
  overflow-x: auto;
  
  -webkit-overflow-scrolling: touch; //для IOS
  //скрывает горизонтальный скрол
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.slider__item {
  flex-shrink: 0; //чтобы flex не зжимал картинки под размер контейнера
  scroll-snap-align: center;

  &:nth-child(1n):not(:last-child) {
    margin-right: 20px;
  }
}
