@font-face {
  font-family: "YesevaOne";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/YesevaOne-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Helvetica";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/HelveticaRegular.woff") format("woff");
}

@font-face {
  font-family: "Helvetica";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/HelveticaBold.woff") format("woff");
}

@font-face {
  font-family: "Helvetica";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/HelveticaLight.woff") format("woff");
}