<!DOCTYPE html>
html(lang="ru")

  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet" href="./css/style.min.css")

  body
    header(class="header")
      div(class="header__description")
        nav(class="header__menu menu")
          span(class="menu__search-icon")
          input(class="menu__input" type="text" placeholder="Поиск")
          span(class="menu__menu-icon")
          ul(class="menu__list")
            li(class="menu__item")
              a(class="menu__link" href="#biography") биография
            li(class="menu__item")
              a(class="menu__link" href="#creation") творчество
            li(class="menu__item")
              a(class="menu__link" href="#slider") картины
            li(class="menu__item")
               a(class="menu__link" href="#map") музеи
        div(class="header__painter-text")
          div(class="header__painter-years")
            span(class="header__painter-years-text") 1878-1927
          div(class="header__painter-data")
            h1(class="header__painter-name") борис кустодиев
            p(class="header__painter-about") Художник, запечатлевший на своих ярких и жизнерадостных полотнах сцены русских будней и праздников. Обладал редким безграничным талантом, которому, в первую очередь, было присуще особое чувство и восприятие родной природы.
        a(class="header__logo" href="http://affinage.ru" target="_blank")
          img( src="./img/logo_affinage.svg" alt="Логотип" width="60" height="60")
      div(class="header__image-block")
        //- block for image

    section(class="biography" id="biography")
      div(class="biography__wrapper")
        h2(class="biography__title section-title") биография
        ul(class="biography__list")
          li(class="biography__item")
            p(class="biography__year--empty")
            p(class="biography__text") Борис Кустодиев родился 7 марта 1878 года в Астрахани. Отца, преподавателя духовной семинарии, не стало, когда мальчику было чуть больше года. Мать осталась вдовой в 25 лет и содержала четверых детей.
          li(class="biography__item")
            p(class="biography__year") 1887
            p(class="biography__text") Борис сначала учился в церковно- -приходской школе, потом в гимназии. Когда ему было девять лет, в город привезли выставку художников-передвижников. Мальчика настолько впечатлила живопись, что он твердо решил научиться рисовать так же искусно. Мать нашла деньги, чтобы Борис смог брать уроки у известного в Астрахани художника Павла Власова.
          li(class="biography__item")
            p(class="biography__year") 1896
            p(class="biography__text") Окончив семинарию, в 1896 году Кустодиев отправился учиться в Москву, но в художественную школу его не приняли: Борису уже исполнилось 18 и он был слишком взрослым. Тогда Кустодиев поехал в Петербург, где подал документы в Высшее художественное училище при Академии художеств.

      div(class="biography__footer section-footer")
        a(href="" class="section-footer__link js-ajax") читать больше
        ul(class="section-footer__list")
          li(class="section-footer__item")
            a(href="" class="section-footer__link-vk" aria-label="Кнопка поделиться статьей Вконтакте")
            span(class="section-footer__number") 105
          li(class="section-footer__item")
            a(href="" class="section-footer__link-tw" aria-label="Кнопка поделиться статьей в Твитере")
            span(class="section-footer__number") 96
          li(class="section-footer__item")
            a(href="" class="section-footer__link-fb" aria-label="Кнопка поделиться статьей в Фейсбуке")

    section(class="slider" id="slider")
      h2(class="visually-hidden") Слайдер с картинами Бориса Кустодиева
      div(class="slider__wrapper")
        div(class="slider__image-title")
        div(class="slider__viewport")
          ul(class="slider__list")
            li(class="slider__item" data-number="1" data-title="Осень в провинции. Чаепитие#1" data-source="./img/slider-main-image.jpg")
              img(src="./img/slider-image.jpg", alt="Осень в провинции. Чаепитие#1")
            li(class="slider__item" data-number="2" data-title="Осень в провинции. Чаепитие#2" data-source="./img/slider-main-image.jpg")
              img(src="./img/slider-image.jpg", alt="Осень в провинции. Чаепитие#2")
            li(class="slider__item" data-number="3" data-title="Осень в провинции. Чаепитие#3" data-source="./img/slider-main-image.jpg")
              img(src="./img/slider-image.jpg", alt="Осень в провинции. Чаепитие#3")
            li(class="slider__item" data-number="4" data-title="Осень в провинции. Чаепитие#4" data-source="./img/slider-main-image.jpg")
              img(src="./img/slider-image.jpg", alt="Осень в провинции. Чаепитие#4")
            li(class="slider__item slider__item--active" data-number="5" data-title="Осень в провинции. Чаепитие#5" data-source="./img/slider-main-image.jpg")
              img(src="./img/slider-image.jpg", alt="Осень в провинции. Чаепитие#5")
            li(class="slider__item" data-number="6" data-title="Осень в провинции. Чаепитие#6" data-source="./img/slider-main-image.jpg")
              img(src="./img/slider-image.jpg", alt="Осень в провинции. Чаепитие#6")
            li(class="slider__item" data-number="7" data-title="Осень в провинции. Чаепитие#7" data-source="./img/slider-main-image.jpg")
              img(src="./img/slider-image.jpg", alt="Осень в провинции. Чаепитие#7")
            li(class="slider__item" data-number="8" data-title="Осень в провинции. Чаепитие#8" data-source="./img/slider-main-image.jpg")
              img(src="./img/slider-image.jpg", alt="Осень в провинции. Чаепитие#8")
            li(class="slider__item" data-number="9" data-title="Осень в провинции. Чаепитие#9" data-source="./img/slider-main-image.jpg")
              img(src="./img/slider-image.jpg", alt="Осень в провинции. Чаепитие#9")
            li(class="slider__item" data-number="10" data-title="Осень в провинции. Чаепитие#10" data-source="./img/slider-main-image.jpg")
              img(src="./img/slider-image.jpg", alt="Осень в провинции. Чаепитие#10")
            li(class="slider__item" data-number="11" data-title="Осень в провинции. Чаепитие#11" data-source="./img/slider-main-image.jpg")
              img(src="./img/slider-image.jpg", alt="Осень в провинции. Чаепитие#11")
            li(class="slider__item" data-number="12" data-title="Осень в провинции. Чаепитие#12" data-source="./img/slider-main-image.jpg")
              img(src="./img/slider-image.jpg", alt="Осень в провинции. Чаепитие#12")
        div(class="slider__main-image-container")
          img(class="slider__main-image" src="./img/slider-main-image.jpg" width="920" height="530" alt="Увеличенное изображение слайдера")
        div(class="slider__controls")
          span(class="slider__current-number")
          span(class="slider__overall-number")
          button(class="slider__button-left")
          button(class="slider__button-right")
        a(class="slider__link" href="") все картины

    section(class="creation" id="creation")
      div(class="creation__wrapper")
        h2(class="creation__title section-title") творчество
        header(class="creation__header") Трудно найти другого живописца, настолько горячо&#160;влюбленного в&#160;провинциальную Россию: самобытную, яркую, удивляющую.
        p(class="creation__text creation__text--first") Как и большинство работ автора, пейзажные полотна Кустодиева отличаются особой яркостью и насыщенностью цветовых планов. <span>На картинах Кустодиева природа всегда представляет собой нечто гораздо большее, чем просто пейзажное изображение.</span>
        img(class="creation__first-image"  src="./img/creation-first-image.jpg" width="280" height="173" alt="Картина Бориса Кустодиева")
        picture
          source(media="(min-width: 1024px)" srcset="./img/creation-second-image-desktop.jpg")
          img(class="creation__second-image" src="./img/creation-second-image-mobile.jpg" width="280" height="204" alt="Картина Бориса Кустодиева")
        p(class="creation__text creation__text--second") Особенности творчества художника Бориса Кустодиева: любил жанр портрета-картины, когда характер героя раскрывается через окружающий его пейзаж, интерьер или даже служащую фоном жанровую сцену; не жалел для бытовых сцен декоративности и зрелищности; с большой симпатией писал жизнь провинции.
        p(class="creation__text creation__text--third") Даже в самые беспросветные времена полотна Кустодиева лучились здоровьем, радостью и любовью к жизни. Сахарные сугробы и плавящиеся под солнцем купола. Полыхающие арбузы и красавицы, не уступающие арбузам ни интенсивностью румянца, ни округлостью форм.
      div(class="creation__footer section-footer")
        a(href="" class="section-footer__link section-footer__link--middle") читать больше
        ul(class="section-footer__list")
          li(class="section-footer__item")
            a(href="" class="section-footer__link-vk" aria-label="Кнопка поделиться статьей Вконтакте")
            span(class="section-footer__number") 105
          li(class="section-footer__item")
            a(href="" class="section-footer__link-tw" aria-label="Кнопка поделиться статьей в Твитере")
            span(class="section-footer__number") 96
          li(class="section-footer__item")
            a(href="" class="section-footer__link-fb" aria-label="Кнопка поделиться статьей в Фейсбуке")
    
    section(class="map" id="map")
      h2(class="map__title section-title section-title--map") музеи
      div(class="map__container")
        span(class="map__pin")
      ul(class="map__adress-list")
        li(class="map__adress-item")
          a(href="")
            h3(class="map__item-title") Русский музей
          span(class="map__adress-text") 191186, Санкт-Петербург,
          span(class="map__adress-text") Инженерная ул., 4,
          a(class="map__phone" href="tel:88125954240") +7 (812) 595-42-40
        li(class="map__adress-item")
          a(href="")
            h3(class="map__item-title") Третьяковская галерея
          span(class="map__adress-text") 119017, Москва,
          span(class="map__adress-text") Лаврушинский переулок,10
          a(class="map__phone" href="tel:84959570727") +7 (495) 957-07-27
        li(class="map__adress-item")
          a(href="")
            h3(class="map__item-title") Мультимедиа Арт Музей
          span(class="map__adress-text") 105064, Москва,
          span(class="map__adress-text") Гороховский переулок, 7
          a(class="map__phone" href="tel:84956321681") +7 (495) 632–16–81
    
    footer(class="footer")
      ul(class="footer__list")
        li(class="footer__item")
          a(class="footer__link" href="#biography") биография
        li(class="footer__item")
          a(class="footer__link" href="#creation") творчество
        li(class="footer__item")
          a(class="footer__link" href="#slider") картины
        li(class="footer__item")
          a(class="footer__link" href="#map") музеи
      ul(class="footer__social-link-list")
        li(class="footer__social-link-item")
          a(class="footer__social-link footer__social-link--vk"  href="https://vk.com" aria-label="Вконтакте" target="_blank")
        li(class="footer__social-link-item")
          a(class="footer__social-link footer__social-link--tw"  href="https://www.twitter.com" aria-label="Twitter" target="_blank")
        li(class="footer__social-link-item")
          a(class="footer__social-link footer__social-link--fb" href="https://www.facebook.com" aria-label="Facebook" target="_blank")
    
    script(src="./js/script.min.js")